.container {
    display: flex;
    flex-direction: column;
    padding: 300px 250px;
    justify-content: center;
    align-items: center;
}

.container h2{
    margin: 10px;
    color: rgb(181, 181, 181);
}

.container input{
    margin: 5px;
    border-radius: 5px;
}

.container button{
    margin: 10px;
    padding: 5px 15px;
}